code {
	color: white;
	background: var(--col-back-mid);
}
code.relationship {
	color: white;
	font-size: 120%;
	background: none;
}
code.params {
	color: LightBlue;
	font-size: 120%;
	background: none;
}

code.field:before {
	color: purple;
	content: "field|";
}

code.file:before {
	font-weight: bolder;
	content: "FILE ";
	color: var(--col-text-dark);
	background: var(--col-yellow-light);
}
code.file {
	color: black;
	background: var(--col-yellow-dark);
}

code.if:before {
	font-weight: bolder;
	display: table;
	content: "IF";
}

code.try:before {
	font-weight: bolder;
	content: "TRY ";
	color: var(--col-text-dark);
	background: var(--col-green-light);
}
code.try {
	color: black;
	background: var(--col-green-dark);
}

code.catch:before {
	font-weight: bolder;
	content: "CATCH ";
	color: var(--col-text-dark);
	background: var(--col-red-light);
}
code.catch {
	color: black;
	background: var(--col-red-dark);
}