:root {
	--col-code-text: white;
	--col-code-comment: rgb(100, 160, 0);
	--col-scope-highlight: #2ae6ff;
}

code {
	display: block;
	color: var(--col-code-text);
	background: var(--col-back-mid);
}

code.relationship {
	color: white;
	font-size: 120%;
	background: none;
}

code.params {
	color: LightBlue;
	font-size: 120%;
	background: none;
}

code[t]::before{
	content: attr(t);
}