:root {
	/* colours */
	font-family: monospace;
	--col-text-normal: #bbbbbb;
	--col-text-dark: #404040;
	--col-text-emphasis: #ffd261;
	--col-text-emphasis-dark: #ffb600;
	--col-back-light: #121216;
	--col-back-mid: #090916;
	--col-back-dark: #000016;
	--col-yellow-light: #fffcc7;
	--col-green-light: #c4ffc7;
	--col-red-light: #ffd6c7;
	--col-yellow-dark: #e6e3b3;
	--col-green-dark: #b3e6b5;
	--col-red-dark: #e6c0b3;
}