:root {
    --col-gold: #fcba05;
    --col-silver: #9bb0b4;
    --col-copper: #e76813;
    --col-units: #0084ff;
    --col-possible-back: rgb(96, 182, 107);
    --col-possible-fore: rgb(255, 255, 255);
    --col-impossible-back: rgb(212, 89, 89);
    --col-impossible-fore: rgb(255, 255, 255);
}

span[currency][gp]:after {
    content: "gp";
    color: var(--col-gold);
}

span[currency][sp]:after {
    content: "sp";
    color: var(--col-silver);
}

span[currency][cp]:after {
    content: "cp";
    color: var(--col-copper);
}

span[units]:after {
    content: " " attr(units);
    color: var(--col-units);
}

div.content-island {
    border: 24px solid var(--col-back-dark);
    padding: 8px;
    margin-bottom: 24px;
}

span[info] {
    font-size: 80%;
    font-family: monospace;
    display: inline;
}

span[good] {
    color: var(--col-possible-fore);
    border-bottom: 1px solid var(--col-possible-back);
    margin-left: 2px;
    margin-right: 2px;
    background-image: linear-gradient(var(--col-possible-back), black);
}

span[bad] {
    color: var(--col-impossible-fore);
    border-bottom: 1px solid var(--col-impossible-back);
    margin-left: 2px;
    margin-right: 2px;
    background-image: linear-gradient(var(--col-impossible-back), black);
}

span[spell] {
    color: var(--col-green-light);
    font-family: monospace;
    font-size: 120%;
}

span[range] {
    color: var(--col-yellow-light);
    font-family: monospace;
    font-size: 120%;
}

table.stats {
    border: 1px solid var(--col-text-emphasis);
    text-align: center;
    display: inline-block;
}

table.stats>thead>tr>td {
    color: var(--col-text-emphasis);
}

table.stats>tbody {
    font-family: monospace;
}

table.stats>tbody>tr>td:nth-child(2) {
    /* highlight stat name */
    color: var(--col-text-emphasis-dark);
    text-transform: uppercase;
}

table.stats>tbody>tr>td:nth-child(3) {
    /* highlight dice */
    color: var(--col-yellow-light);
}

table.stats>tbody>tr>td:nth-child(4)[positive] {
    /* highlight positive modifiers */
    color: var(--col-green-dark);
}

table.stats>tbody>tr>td:nth-child(4)[positive]::before {
    content: "+";
}

table.stats>tbody>tr>td:nth-child(4)[negative] {
    /* highlight negative modifiers */
    color: var(--col-red-dark);
}

table.stats>tbody>tr>td:nth-child(4)[negative]::before {
    content: "-";
}