:root {	
	font-family: monospace;

	--col-text-normal: #8a8a8a;
	--col-text-emphasis: #ffd261;
	--col-back-light: #121216;
	--col-back-dark: #000016;
}

body {
	background: var(--col-back-dark);
}

div.block {
	margin-left: 10%;
	margin-right: 10%;
	color: var(--col-text-normal);
	background: var(--col-back-light);
}

a { color: var(--col-text-emphasis); }

p { padding: 10px 25px 10px 25px; }
p.note { margin-top: 0; margin-bottom: 0; padding: 0px 0px 0px 0px; text-align: center; border-bottom: solid; }

h1, h2, h3, h4 {
	padding: 0px 0px 0px 0px;
	margin-bottom: 0;
	color: var(--col-text-emphasis);
	text-align: center;
}
