:root {	
	font-family: monospace;

	--col-text-normal: #8a8a8a;
	--col-text-emphasis: #ffd261;
	--col-back-light: #121216;
	--col-back-dark: #000016;
}

body {
	background: var(--col-back-dark);
}

div.block {
	margin-left: 10%;
	margin-right: 10%;
	color: var(--col-text-normal);
	background: var(--col-back-light);
}

p.note { text-align: center; }

h1, h2, h3, h4 {
	color: var(--col-text-emphasis);
	text-align: center;
}

